/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
		.block_1 {
			font-size: 0px;
			background: orange;
		}
		.b_1 {
			display: inline-block;
			width: 395px;
			font-size: 20px;
			vertical-align: top;
		}
		.block_2 {
			font-size: 0px;
			background: grey;
		}
		.b_2 {
			display: inline-block;
			width: 593px;
			font-size: 20px;
			vertical-align: top;
		}
		.block_3 {
			font-size: 0px;
			background: yellow;
		}
		.b_3 {
			display: inline-block;
			width: 593px;
			font-size: 20px;
			vertical-align: top;
		}
		.b_4 {
			display: inline-block;
			width: 290px;
			font-size: 20px;
			vertical-align: top;
		}
		.special {
			font-size: 0px;
			background: violet;
		}
		.block_4 {
			font-size: 0px;
			background: blue;
		}
		.b_5 {
			display: inline-block;
			width: 593px;
			font-size: 20px;
			vertical-align: top;
		}
		.b_6 {
			display: inline-block;
			width: 290px;
			font-size: 20px;
			vertical-align: top;
		}
		.special_2 {
			font-size: 0px;
		}

		.fix2 {
			display: inline-block;
			width: 140px;
			font-size: 20px;
			vertical-align: top;
		}
		.fro {
			font-size: 0px;
		}




		.first {
			background: grey;
		}
		.tc {
			display: table-cell;
			width: 400px;
		}
		.second {
			background: pink;
		}
		.tc_1 {
			display: table-cell;
			width: 600px;
		}
		.third {
			background: yellow;
		}
		.tc_3 {
			display: table-cell;
			width: 600px;
		}
		.tc_4 {
			display: table-cell;
			width: 300px;
		}
		.fourth {
			background: blue;
		}
		.tc_5 {
			display: table-cell;
			width: 600px;
		}
		.tc_6 {
			display: table-cell;
			width: 300px;
		}
		.tc_7 {
			display: table-cell;
			width: 150px;
		}
		.fix {
			display: table-cell;
			width: 300px;
		}


		.clearfix::after {
			content: "";
			clear: both;
			display: block;
		}
		.f1 {
			width: 33%;
			float: left;
			background: #BC8F8F;
		}
		.f2 {
			width: 596px;
			float: left;
			background: #4169E1;
		}
		.f3 {
			float: left;
			width: 597px;
			background: #C71585;
		}
		.f4 {
			width: 292px;
			float: left;
			background: #2E8B57;
		}

		.f5 {
			width: 592px;
			float: left;
			background: #FFA07A;
		}
		.f6 {
			width: 292px;
			float: left;
			background: #BDB76B;
		}
		.f7 {
			width: 142px;
			float: left;
			background: #00FF00;
		}




		.thefirst_flex {
			display: flex;
			background: #00FF00;
			flex-direction: row-reverse;
		}

		.thesecond_flex {
			display: flex;
			background: #FFE4B5;
			align-items: flex-end;
		}
		.thethird_flex {
			display: flex;
			background: #66CDAA;
		}
		.thefourth_flex {
			display: flex;
			background: #8FBC8F;
		}
		.thefifth_flex {
			display: flex;
			background: #A52A2A;
		}
		.thesixth_flex {
			display: flex;
			background: #D2691E;
		}
		.theseventh_flex {
			display: flex;
			background: #DAA520;
		}
		.fl_1 {
			flex-basis: 33%;
		}
		.fl_2 {
			flex-basis: 50%;
		}
		.fl_3 {
			flex-basis: 50%;
		}
		.fl_4 {
			flex-basis: 50%;
		}
		.fl_5 {
			flex-basis: 50%;
		}
		.fl_7 {
			flex-basis: 50%;
		}

