
@import url('style_2.css');
	/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
		.wrapper {
			max-width: 1200px;
			margin: 0 auto;
			text-align: center;
			background: rgba(255, 255, 224, 0.6);
		}
		h1 {
			text-align: center;
			font-size: 40px;
			font-weight: 600;
			margin: 15px;
		}
		h2 {
			text-align: center;
			font-size: 25px;
			font-weight: 600;
			margin: 10px;
		}
		.wrapper p {
			font-size: 20px;
			font-family: monospace;
			color: #47332b;
		}
		#mainreason {
			font-style: oblique;
			color: white;
			background-color: grey;
		}
		.fact {
			text-align: left;
			font-weight: 900;
			font-size: 20px; 
			background-color: pink; 
			padding: 20px 80px;
			border: 15px solid yellow;
		}
		.example, .fail {
			color: grey;
		}
		.conclusion {
			font-size: 17px;
			padding: 10px;
			border: 6px dotted green;
			margin: 10px;
		}
		.nameoflist {
			color: red;
			font-family: calibri;
			margin: 10px;
		}
		.list {
			margin: 8px;
			color: pink;
		}

		#fixed {
			position: fixed;
			z-index: 5;
			background: rgba(214,86,43, 0.2);
			border: dotted black 1px;
			width: 400px;
			height: 240px;
			top: 50%;
			margin-top: -120px;
			font-size: 40px;
		}
		.image {
			position: relative;
			display: inline-block;
		}
		.absolute {
			z-index: 5;
			position: absolute;
			color: black;
			font-size: 40px;
			background:rgba(175, 238, 238, 0.3);
			top: 50%;
			left: 0;
			height: 200px;
			width: 100%;
			margin-top: -100px;
			display: none;
		}
		.image:hover .absolute {
			display: block;
		}


		.absolute2 {
			z-index: 5;
			position: absolute;
			color: black;
			font-size: 40px;
			background:rgba(175, 238, 238, 0.3);
			top: 50%;
			left: 0;
			height: 200px;
			margin-top: -100px;
			width: 100%;
			display: flex;
		}
		.elem {
			border: solid black 1px;
			width: 25%;
		}
		.el2 {
			display: table-cell;
			width: 133px;
			border: solid white 1px;
			font-size: 30px;
			color: #006400;
			font-weight: 800;
		}

		header {
			margin-bottom: 20px;
		}
		.mainmenu {
			text-align: center;
			position: relative;
			z-index: 5;
			display: flex;
			justify-content: center;
		}

		.mainmenu li {
			margin-right: 8px;
			font-size: 20px;
			background: #d4faff;
			position: relative;
			width: 150px;
			height: 70px;
			border: 1px solid pink;
		}
		.mainmenu>.bef1>a {
			display: block;
			text-decoration: none;
			color: black;
			text-transform: uppercase;
			padding: 20px 20px 20px 60px;
			font-family: Snell Roundhand, cursive;
		}

		.mainmenu>.bef2>a {
			display: block;
			text-decoration: none;
			color: black;
			text-transform: uppercase;
			padding: 20px 20px 20px 60px;
			font-family: Snell Roundhand, cursive;
		}

		.mainmenu>.afterclass>a {
			display: block;
			text-decoration: none;
			color: black;
			text-transform: uppercase;
			padding: 20px 60px 20px 20px;
			font-family: Snell Roundhand, cursive;
		}

		.mainmenu ul li a {
			display: block;
			text-decoration: none;
			color: black;
			text-transform: uppercase;
			padding: 20px 20px 20px 60px;
			font-family: Snell Roundhand, cursive;
		}

		.mainmenu .bef1 a:before {
			content: "";
	   		width: 32px;
	   		height: 32px;
	   		background: url('../img/sprite.png');
	   		background-position: -32 px -32 px;
	   		transition: all 1s ease;
	   		position: absolute;
	   		top: 0;
	   		left: 0;
	   }

	   .mainmenu>.bef2>a:before {
			content: "";
	   		width: 32px;
	   		height: 32px;
	   		background: url('../img/sprite.png');
	   		background-position: -32px -64px;
	   		transition: all 1s ease;
	   		position: absolute;
	   		top: 0;
	   		left: 0;
	   }

	     .mainmenu>.afterclass>a:after {
			content: "";
	   		width: 32px;
	   		height: 32px;
	   		background: url('../img/sprite.png');
	   		background-position: -32px -128px;
	   		transition: all 1s ease;
	   		position: absolute;
	   		top: 0;
	   		right: 0;
	   }

	    .mainmenu>.afterclass:hover>a:after {
	   		background-position: -32px -160px;
	   }

	   .mainmenu ul a:before {
			content: "";
	   		width: 32px;
	   		height: 32px;
	   		background: url('../img/sprite.png');
	   		background-position: -32px -32px;
	   		transition: all 1s ease;
	   		position: absolute;
	   		top: 0;
	   		left: 0;
	   }

	    .mainmenu ul li a:before {
	    	background-position: -96px 0;
	    }
	
	    .mainmenu ul li+li a:before {
	    	background-position: -128px 0;
	    }

	    .fchild:hover>a:before {
	    	background-position: -96px -32px;
	    }

	    .mainmenu ul ul li a:before {
	    	background-position: -160px 0;
	    }

	    .mainmenu ul ul li+li a:before {
	    	background-position: -192px 0;
	    }

	    .mainmenu ul ul li+li+li a:before {
	    	background-position: -224px 0;
	    }

		.mainmenu li:hover {
			background: #edca72;
		}
		.mainmenu ul {
			position: absolute;
			top: 100%;
			left: 0;
			opacity: 0;
			transition: all 0.5s linear;
		}

		.mainmenu li:hover>ul {
			opacity: 1;
		}

		.mainmenu ul ul {
			position: absolute;
			left: -100%;
			right: 100%;
			top: 0;
			height: 0;
			overflow: hidden;
			transition: all 3s ease;
		}

		.mainmenu ul li:hover>ul {
			height: auto;
		}

		p{
			margin: 10px;
		}

		.footer {
			background: #F8F8FF;
			border: solid 3px #87CEFA;
		}

		.footer_menu {
			display: flex;
			justify-content: center;
		}

		.footer_menu li a {
		   	width: 32px;
	   		height: 32px;
	   		background: url('../img/sprite.png');
	   		background-position: -32px -96px;
	   		display: block;
		}

		.footer_menu li+li a {
			background-position: -32px -64px;
		}
		.footer_menu li+li+li a {
			background-position: -64px -64px;
		}

		.footer_menu li:hover a{
			background-position: -96px -64px;
		}
		.footer_menu li+li:hover a{
			background-position: -128px -64px;
		}
			.footer_menu li+li+li:hover a{
			background-position: -160px -64px;
		}

		body {
			background: url('../img/burgers.jpeg');
			background-size: cover;
			background-attachment: fixed;
		}
